In [ ]:
import pandas as pd 
df= pd.DataFrame({'a' : [1,2,3], 'b' : [2,3,4]})

In [5]:
pd.__version__

'2.2.2'

In [4]:
type(df)

pandas.core.frame.DataFrame

In [9]:
type(df['a'])

pandas.core.series.Series

In [12]:
type(df['a'].values)

numpy.ndarray

In [16]:
#pip install pymysql

In [15]:
import pymysql
conn = pymysql.connect(host='127.0.0.1', user='', passwd='', database='', port=3306)
cur = conn.cursor()

In [ ]:
sql = "select * from kbo_player"
kbo_df = pd.read_sql_query(sql, con=conn)

In [23]:
kbo_df.shape

(893, 9)

In [25]:
kbo_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 893 entries, 0 to 892
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   player_number  873 non-null    float64
 1   name           893 non-null    object
 2   kbo_id         893 non-null    object
 3   team           893 non-null    object
 4   position       892 non-null    object
 5   birthday       893 non-null    object
 6   height         892 non-null    float64
 7   weight         892 non-null    float64
 8   career         893 non-null    object
dtypes: float64(3), object(6)
memory usage: 62.9+ KB

In [28]:
kbo_df.isnull().sum()

player_number    20
name              0
kbo_id            0
team              0
position          1
birthday          0
height            1
weight            1
career            0
dtype: int64

In [31]:
kbo_df.describe()

       player_number      height      weight
count     873.000000  892.000000  892.000000
mean       51.869416  182.873318   87.365471
std        37.426091    4.983326    8.805343
min         0.000000  163.000000   62.000000
25%        21.000000  180.000000   82.000000
50%        44.000000  183.000000   87.000000
75%        69.000000  186.000000   93.000000
max       133.000000  198.000000  123.000000

In [30]:
kbo_df.describe(include=['object', 'category'])

       name kbo_id team position    birthday       career
count   893    893  893      892         893          893
unique  847    892   11        4         809          857
top     박건우  60146   LG       투수  2002-07-05  가동초-휘문중-휘문고
freq      5      2   95      462           4            3

In [ ]:
kbo_df.columns

Index(['player_number', 'name', 'kbo_id', 'team', 'position', 'birthday',
       'height', 'weight', 'career'],
      dtype='object')

In [37]:
kbo_df.iloc[  1,1 ]

'강민균'

In [41]:
kbo_df.iloc[3,5]

datetime.date(2004, 12, 23)

In [43]:
kbo_df.loc[4, 'name']

'구본혁'

In [46]:
kbo_df.loc[2, 'career']

'태전초(경기광주시리틀)-모가중-야로고BC-동원대'

In [49]:
kbo_df.loc[2:5, 'name':'career']

,name,kbo_id,team,position,birthday,height,weight,career
2,고영웅,55116,LG,투수,2004-07-29,180.0,90.0,태전초(경기광주시리틀)-모가중-야로고BC-동원대
3,곽민호,53104,LG,내야수,2004-12-23,184.0,90.0,역삼초-자양중-배명고
4,구본혁,69100,LG,내야수,1997-01-11,177.0,75.0,중대초-잠신중-장충고-동국대-LG-상무
5,김강률,77263,LG,투수,1988-08-28,187.0,95.0,문촌초(일산리틀)-장성중-경기고-두산-상무-두산

In [50]:
import numpy as np

In [52]:
np.array([1,2,3,4]) == 1

array([ True, False, False, False])

In [ ]:
# and -> &, or -> | , not -> !
masked = (kbo_df['position'] == "투수") & (kbo_df['team'] == '두산')

In [66]:
# 키와 몸무게 180cm, 100kg 이상인 
# 두산, 삼성
#kbo_df[(kbo_df['height'] >= 180 ) & (kbo_df['weight'] >= 100)]
kbo_df[(kbo_df['team'] == '두산' ) | (kbo_df['team'] == '삼성')]

,player_number,name,kbo_id,team,position,birthday,height,weight,career
355,127.0,강민성,55427,삼성,내야수,2006-02-22,183.0,85.0,연현초-잠신중-안산공고
356,47.0,강민호,74540,삼성,포수,1985-08-18,185.0,100.0,제주신광초-포철중-포철공고-(국제디지털대)-롯데
357,6.0,강한울,64610,삼성,내야수,1991-09-12,181.0,66.0,사당초-중앙중-안산공고-원광대-KIA-삼성-상무
358,9.0,공민규,68407,삼성,내야수,1999-09-27,183.0,85.0,서화초-동산중-인천고-삼성-상무
359,5.0,구자욱,62404,삼성,외야수,1993-02-12,189.0,75.0,본리초-경복중-대구고-삼성-상무
...,...,...,...,...,...,...,...,...,...
804,114.0,한다현,55214,두산,내야수,2006-08-25,181.0,85.0,백문초-구리인창중-라온고
805,17.0,홍건희,61643,두산,투수,1992-09-29,187.0,97.0,화순초-화순중-화순고-KIA-상무-KIA
806,67.0,홍민규,55267,두산,투수,2006-09-11,183.0,87.0,서울논현초(용산구리틀)-대원중-야탑고
807,34.0,홍성호,66233,두산,외야수,1997-07-15,187.0,98.0,인헌초-선린중-선린인터넷고
808,58.0,황희천,55258,두산,투수,2006-11-06,190.0,93.0,부산수영초-개성중-충암고

In [69]:
from datetime import date, datetime

2025

In [83]:
def tmp(x):
    return date.today().year - x.year

In [86]:
kbo_df['age'] = kbo_df['birthday'].apply(lambda x : date.today().year - x.year)

In [97]:
# bmi -> 
kbo_df['bmi'] = kbo_df['weight'] / (kbo_df['height'] / 100) ** 2

In [99]:
kbo_df['position'].value_counts()

position
투수     462
내야수    207
외야수    149
포수      74
Name: count, dtype: int64

In [107]:
kbo_agg = kbo_df.groupby(['team'])[['height', 'weight']].mean()

In [109]:
kbo_agg.index

Index(['KIA', 'KT', 'LG', 'NC', 'SSG', '고양', '두산', '롯데', '삼성', '키움', '한화'], dtype='object', name='team')

In [113]:
# 한화 
kbo_agg.loc[ '한화',  ]

height    183.574713
weight     88.977011
Name: 한화, dtype: float64

In [116]:
kbo_agg.loc['KT':"NC",]

          height     weight
team
KT    182.988889  85.633333
LG    183.553191  87.053191
NC    182.630435  87.467391

In [118]:
kbo_agg.iloc[1:4]

          height     weight
team
KT    182.988889  85.633333
LG    183.553191  87.053191
NC    182.630435  87.467391

In [ ]:
import requests 
url = "https://www.starbucks.co.kr/store/getStore.do?r=86N465IIB2"
payload = {"in_biz_cds": "0",
"in_scodes": "0",
"ins_lat": "37.4745",
"ins_lng": "126.8918",
"search_text": "",
"p_sido_cd": "01",
"p_gugun_cd": "",
"in_distance": "0",
"in_biz_cd": "",
"isError": "true",
"searchType": "C",
"set_date": "",
"all_store": "0",
"T03": "0",
"T01": "0",
"T27": "0",
"T12": "0",
"T09": "0",
"T30": "0",
"T05": "0",
"T22": "0",
"T21": "0",
"T36": "0",
"T43": "0",
"Z9999": "0",
"T64": "0",
"T66": "0",
"P02": "0",
"P10": "0",
"P50": "0",
"P20": "0",
"P60": "0",
"P30": "0",
"P70": "0",
"P40": "0",
"P80": "0",
"whcroad_yn": "0",
"P90": "0",
"P01": "0",
"new_bool": "0",
"iend": "1000",
"rndCod": "XW4W0LA4X8",}
r = requests.post(url, data=payload)
star = r.json()
star_df = pd.DataFrame(star['list'])

In [131]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [136]:
star_df2 = star_df[["s_name" , "s_code",  "addr",  "defaultimage", "doro_address", "lat",  "lot", "open_dt", ]].copy()

In [ ]:
# open_dt를 파이썬의 날짜 타입으로 변경 
star_df2.open_dt.values
# open_year 파생 변수  (년도 입력 )
# 년도별 스타벅스 매장 오픈수

array(['20190613', '20181123', '20191219', '20190731', '20190214',
       '20200528', '20200529', '20200416', '20181123', '20180831',
       '20180627', '20180824', '20180330', '20180306', '20170818',
       '20170502', '20170323', '20170825', '20170816', '20160812',
       '20161223', '20160623', '20161227', '20161214', '20161110',
       '20150911', '20160512', '20160224', '20150422', '20141211',
       '20140828', '20140731', '20140220', '20131108', '20140326',
       '20140301', '20131004', '20130625', '20130709', '20130620',
       '20130917', '20130723', '20130423', '20040830', '20030509',
       '20030115', '20020329', '20011110', '20010310', '20071221',
       '20080528', '20050310', '20050420', '20050510', '20050530',
       '20060421', '20060223', '20150922', '20081205', '20050806',
       '20041210', '20041119', '20120227', '20120110', '20110607',
       '20091223', '20120330', '20100831', '20100325', '20100714',
       '20121114', '20110829', '20110907', '20240910', '20210128',
       '20230421', '20210929', '20201104', '20210727', '20210610',
       '20210422', '20201008', '20221124', '20220512', '20220707',
       '20210107', '20211216', '20210806', '20250429', '20241227',
       '20231101', '20240304', '20240929', '20201127', '20241122',
       '20231130', '20161007', '20150818', '20141223', '20041014',
       '20120425', '20240905', '20210827', '20190930', '20200409',
       '20180626', '20180731', '20171213', '20170907', '20170510',
       '20170331', '20161011', '20161013', '20150327', '20150227',
       '20131213', '20140207', '20120905', '20240628', '20231013',
       '20220801', '20220712', '20210303', '20250417', '20210806',
       '20250523', '20211209', '20220323', '20220714', '20210915',
       '20250207', '20250416', '20210415', '20231011', '20210224',
       '20190927', '20190531', '20180208', '20161209', '20160729',
       '20140213', '20130709', '20090317', '20090227', '20120106',
       '20230714', '20220429', '20241106', '20191004', '20190115',
       '20180912', '20170926', '20150429', '20150115', '20140411',
       '20130829', '20070319', '20090924', '20120229', '20120515',
       '20120629', '20220127', '20220324', '20200813', '20220316',
       '20240321', '20210429', '20200429', '20180827', '20170519',
       '20170315', '20160615', '20140521', '20060125', '20120919',
       '20110127', '20220225', '20240807', '20220603', '20231101',
       '20240927', '20200218', '20190314', '20190411', '20180628',
       '20170912', '20170718', '20080229', '20120802', '20120404',
       '20130104', '20130320', '20130205', '20210520', '20221007',
       '20240912', '20190613', '20131206', '20231208', '20210429',
       '20230323', '20220420', '20230901', '20191025', '20190823',
       '20200611', '20190130', '20181130', '20180412', '20170928',
       '20161028', '20151216', '20060228', '20091224', '20250416',
       '20250530', '20191016', '20190429', '20181030', '20180111',
       '20180126', '20180116', '20180514', '20171025', '20161019',
       '20161222', '20160621', '20161129', '20160126', '20160527',
       '20160524', '20150327', '20150624', '20150714', '20140624',
       '20140630', '20131029', '20130724', '20081112', '20071008',
       '20080917', '20070918', '20110621', '20101215', '20120110',
       '20120831', '20220512', '20220608', '20210114', '20220707',
       '20230330', '20211105', '20240712', '20190621', '20200630',
       '20171114', '20170609', '20170328', '20151007', '20150331',
       '20060517', '20020130', '19990727', '20080430', '20080430',
       '20111014', '20120228', '20111130', '20101126', '20100715',
       '20250529', '20221213', '20241213', '20220128', '20210203',
       '20191024', '20180626', '20180426', '20180328', '20180329',
       '20180119', '20171128', '20170803', '20170330', '20170331',
       '20151210', '20151223', '20160510', '20160331', '20150915',
       '20140729', '20140923', '20140924', '20140724', '20140327',
       '20140128', '20140325', '20140128', '20130905', '20040316',
       '20051021', '20040220', '20011222', '20031219', '20030821',
       '20050327', '20090319', '20071129', '20080808', '20071025',
       '20090317', '20110615', '20120228', '20111221', '20100715',
       '20130322', '20220113', '20240929', '20240929', '20240430',
       '20241227', '20230525', '20250418', '20210226', '20200929',
       '20070730', '20140428', '20191203', '20190906', '20180530',
       '20170428', '20160620', '20151022', '20140127', '20130516',
       '20030705', '20070409', '20120427', '20120927', '20111230',
       '20250228', '20220729', '20210624', '20240710', '20190321',
       '20200429', '20181127', '20180817', '20180323', '20170531',
       '20170523', '20170330', '20170628', '20160909', '20151106',
       '20160405', '20150714', '20150326', '20150106', '20140722',
       '20140526', '20131219', '20131210', '20130906', '20130912',
       '20030930', '20050330', '20050609', '20130228', '20120413',
       '20100917', '20120120', '20110630', '20240530', '20230530',
       '20210719', '20220616', '20200717', '20210910', '20230519',
       '20200825', '20191017', '20181012', '20180828', '20171222',
       '20170816', '20160922', '20161221', '20150729', '20150723',
       '20141128', '20130610', '20040723', '20020830', '20230921',
       '20200728', '20210628', '20210528', '20191030', '20190508',
       '20190124', '20180626', '20180320', '20180124', '20180105',
       '20170704', '20161215', '20161222', '20161020', '20160217',
       '20160324', '20150130', '20141114', '20141030', '20141104',
       '20140127', '20140124', '20131212', '20070625', '20001009',
       '20050715', '20100617', '20110329', '20110704', '20100722',
       '20090916', '20100915', '20121224', '20240619', '20210325',
       '20220421', '20210305', '20210819', '20210319', '20210224',
       '20240529', '20240529', '20200929', '20230830', '20190613',
       '20180202', '20171204', '20170228', '20150723', '20140515',
       '20051011', '20120629', '20231110', '20250328', '20220420',
       '20230215', '20230215', '20221006', '20220405', '20250321',
       '20190227', '20181106', '20190808', '20200319', '20181031',
       '20180410', '20171220', '20180109', '20180122', '20160412',
       '20141021', '20140929', '20140630', '20140619', '20140612',
       '20150826', '20020915', '20010810', '20020225', '20080530',
       '20080130', '20061123', '20060726', '20110907', '20101124',
       '20101119', '20110628', '20091222', '20100723', '20130115',
       '20110414', '20121221', '20220831', '20250529', '20210526',
       '20210728', '20210713', '20200619', '20201203', '20241226',
       '20210428', '20181031', '20191114', '20190919', '20190529',
       '20181012', '20180524', '20170228', '20170725', '20161208',
       '20160728', '20160818', '20151103', '20151028', '20160525',
       '20160512', '20151027', '20160328', '20150428', '20150122',
       '20141223', '20141217', '20141029', '20131022', '20140520',
       '20040329', '20070615', '20051020', '20020308', '20020627',
       '20020418', '20031027', '20090929', '20080725', '20120320',
       '20130125', '20110411', '20120502', '20130130', '20240912',
       '20230922', '20230502', '20240307', '20201029', '20220318',
       '20200820', '20221026', '20221026', '20210326', '20210708',
       '20201015', '20181213', '20190613', '20190228', '20200522',
       '20160825', '20160322', '20150728', '20140228', '20140613',
       '20131023', '20140424', '20210115', '20200730', '20220802',
       '20210805', '20241220', '20250417', '20240822', '20201008',
       '20090508', '20170308', '20140610', '20130827', '20060516',
       '20100819', '20121126', '20210909', '20200907', '20221007',
       '20220630', '20230119', '20240627', '20110826', '20110826',
       '20170411', '20170523', '20170125', '20150722', '20140528',
       '20120227', '20100930', '20231219', '20250228', '20221216',
       '20241029', '20210422', '20240307', '20231128', '20191128',
       '20191224', '20171107', '20170421', '20170725', '20170117',
       '20150428', '20010420', '20080909', '20221213', '20241115',
       '20221110', '20220225', '20210902', '20200929', '20191115',
       '20200611', '20180913', '20180222', '20180228', '20170929',
       '20170816', '20170125', '20160928', '20160720', '20160229',
       '20140317', '20130503', '20080829', '20110316', '20041029',
       '20120530', '20220908', '20201210', '20220616', '20210422',
       '20200715', '20211108', '20241227', '20241129', '20160414',
       '20150807', '20150325', '20141002', '20120323', '20200630',
       '20241128', '20220825', '20201222'], dtype=object)